html, body {
	height: 100%;
	width: 100%;
}

body {
	min-height: 100%;
	text-align: center;
	background: white;
}	
 
tfoot {
    display: table-header-group;
}

#title {
    margin-bottom: 20px;
}

#explaination, #author {
    margin: 35px;
}

* {
	box-sizing: border-box;
	font-family: 'Helvetica', sans-serif;
}

#author {
		height: auto;
		width: 100%;
		bottom: 0;
		left: 0;
		padding: 5px;
		z-index: -1;
		background: #f9f9f9;
}

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { 
    text-align: center;  
 }
 
 ::-moz-placeholder {  
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }

#DataTables_Table_0_filter {
    text-align: center
}

table {
    border-collapse:separate;
}

div.table-title {
    display: block;
   margin: auto;
   max-width: 600px;
   padding:5px;
   width: 100%;
 }
 
 .table-title h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    font-style:normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform:uppercase;
 }
  
 .table-fill {
   background: white;
   height: 320px;
   margin: auto;
   max-width: 600px;
   padding:5px;
   width: 100%;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   animation: float 5s infinite;
 }
   
 tr {
   border-top: 1px solid #C1C3D1;
   border-bottom: 1px solid #C1C3D1;
   color:#D5D8DC;
   font-size:16px;
   font-weight:normal;
   text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
 }
  
 tr:hover td {
   background:#323539;
   color:#FFFFFF;
   border-top: 1px solid #22262e;
 }
  
 tr:first-child {
   border-top:none;
 }
 
 tr:last-child {
   border-bottom:none;
 }
  
 tr td {
   background:#212529;;
 }
  
 
 tr:last-child td:first-child {
   border-bottom-left-radius:3px;
 }
  
 tr:last-child td:last-child {
   border-bottom-right-radius:3px;
 }
  
 td {
   background:#FFFFFF;
   padding:20px;
   text-align:left;
   vertical-align:middle;
   font-weight:300;
   font-size:18px;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   border-right: 1px solid #C1C3D1;
}

 td:last-child {
   border-right: 0px;
 }
 
/* th {
    margin-top: 2px;
    border: 1px solid black;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    -webkit-border-radius: 7px;
} */

 th, th.text-center {
   text-align: center;
 }
 
 td.text-left {
   text-align: left;
 }
 
 td.text-center {
   text-align: center;
 }
 
 td.text-right {
   text-align: right;
 }
 
 th.sorting {
     color:#757575;
 }